<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085531468580-v072qgtesc652q6jihsftcjp2eb2kt4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085531468580-v072qgtesc652q6jihsftcjp2eb2kt4c</string>
	<key>API_KEY</key>
	<string>AIzaSyCIE6OVcS9Z5CIzZ7u6cJDYnAmtsh3JSMU</string>
	<key>GCM_SENDER_ID</key>
	<string>1085531468580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.wizard-clock</string>
	<key>PROJECT_ID</key>
	<string>wizardclock---no-analytics</string>
	<key>STORAGE_BUCKET</key>
	<string>wizardclock---no-analytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085531468580:ios:aea20dbc47b9ffb94fb9b1</string>
	<key>DATABASE_URL</key>
	<string>https://wizardclock---no-analytics.firebaseio.com</string>
</dict>
</plist>